{% extends "securityforum/base_generic.html" %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href={% static "securityforum/css/home.css" %}/>{% endblock stylesheet %}

{% block content %}
  {% if posts %}
  <a href={% url "securityforum:post_form" %}>Add a post</a>
  <ul id="post-list">
    {% for post in posts %}
    <li>
      <div class="post">
        <div class="post-author">
          {% if post.author.profile.profile_pic %}
          <img src="{{ post.author.profile.profile_pic.url }}" class="profile-pic" alt="Profile Picture">
          {% else %}
          <img src="{% static 'images/default_profile.jpg' %}" class="profile-pic" alt="Default Profile Picture">
          {% endif %}
          <a class="post-author-username" href={% url "securityforum:profile" post.author.profile.id%}>{{ post.author.username }}</a>
        </div>
        <a href={% url "securityforum:post" post.id%}>{{ post.header }}</a>
        <p>{{ post.content }}</p>
      </div>
    </li>
    <hr>
    {% endfor %}
  </ul>
  {% else %}
  <p>Nobody likes to talk about security :/</p>
  <a href={% url "securityforum:post_form" %}>Start a conversation by making a post!</a>
  {% endif %}
{% endblock content %}
