{% extends "securityforum/base_generic.html" %}

{% block content %}
  <a href={% url "securityforum:home" %}>home</a>
  <form action={% url "securityforum:create_post"%} method="post">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <legend><h2>Create a new post</h2></legend>
    <table>
      <tr>
        <td>
          <label for="post-header-input">header:</label>
        </td>
        <td>
          <input id="post-header-input" name="header" type="text" required/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="post-content-textarea">content:</label>
        </td>
        <td>
          <textarea id="post-content-textarea" name="content" required></textarea>
        </td>
      </tr>
    </table>
    <input type="submit" value="Create a post">
  </form>
{% endblock content %}
