{% extends "securityforum/base_generic.html" %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href={% static "securityforum/css/post.css" %}/>{% endblock stylesheet %}

{% block content %}
  <a href={% url "securityforum:home" %}>home</a>
  <div id="post-detail-container">
    <a id="post-author">Author: {{ post.author.username }}</a>
    <h2 id="post-header">{{ post.header }}</h2>
    <p>{{ post.content }}</p>
  </div>
  <div id="comments-container">
    <ul id="comments-list">
      {% for comment in post.comment_set.all%}
        <li>
          <div>
            <a class="comment-author" class="comment-author">{{ comment.author.username }}:</a>
            <p class="comment-content">{{ comment.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
