{% extends "securityforum/base_generic.html" %}
{% load static %}

{% block stylesheet %}<link rel="stylesheet" href={% static "securityforum/css/post.css" %}>{% endblock stylesheet %}

{% block content %}
  <a href={% url "securityforum:home" %}>home</a>
  <div id="post-detail-container">
    <div class="post-author">
      {% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="profile-pic" alt="Profile Picture">
      {% else %}
      <img src="{% static 'images/default_profile.jpg' %}" class="profile-pic" alt="Default Profile Picture">
      {% endif %}
      <a class="post-author-username" href={% url "securityforum:profile" post.author.profile.id%}>{{ post.author.username }}</a>
    </div>
    <h2 id="post-header">{{ post.header }}</h2>
    <p>{{ post.content }}</p>
  </div>
  <div id="comments-container">
    <a class="comments-count-label">{{post.comment_set.all.count}} comments</a>
    {% if user.is_authenticated %}
    <div id="add-comment-section">
      <div id="comment-form">
        <form method="POST" action="{% url "securityforum:add_comment" %}">
          {% csrf_token %}
          <input type="text" name="post_id" value={{post.id}} hidden>
          <textarea id="comment-textarea" name="content" placeholder="Comment here..." required></textarea>
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" id="cancel-comment" class="btn btn-secondary">Cancel</button>
        </form>
      </div>
    </div>
    {% endif %}
    <ul id="comments-list">
      {% for comment in post.comment_set.all%}
        <li>
          <div>
            <div class="comment-author">
              {% if comment.author.profile.profile_pic %}
              <img src="{{ comment.author.profile.profile_pic.url }}" class="profile-pic" alt="Profile Picture">
              {% else %}
              <img src="{% static 'images/default_profile.jpg' %}" class="profile-pic" alt="Default Profile Picture">
              {% endif %}
              <a class="comment-author-username" href={% url "securityforum:profile" post.author.profile.id%}>{{ post.author.username }}</a>
            </div>
            <p class="comment-content">{{ comment.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
