#post-detail-container {
    margin-top: 2em;
}

#post-header {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#comments-container {
    margin-top: 3em;
}

#add-comment-section{
    margin-top: 1em;
}

#comments-list {
    list-style-type: none;
    padding-left: 0;

    li {
        border-left: 2px;
        border-left-style: solid;
        border-left-color: rgb(198, 198, 198);
        padding-inline: 0.5em;
    }
}

.post-author {
    display: flex;
    align-items: center;
    /* font-size: 80%; */
    gap: 10px;
    margin-bottom: 1em;
}

.comment-author {
    display: flex;
    align-items: center;
    /* font-size: 80%; */
    gap: 10px;
    margin-bottom: 1em;
}

.comment-content {
    padding-left: 1em;
}

