body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#page-header-container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 2em;
    border-bottom: 2px solid rgba(206, 206, 206, 0.556);;
}

#header-title {
    display: flex;
    align-items: center;
    font-size: 16px; /* Adjust size as needed */
    font-weight: 900; /* Default weight */
    text-align: center;
    text-shadow: 0 0.01em, 0.01em 0, 0.01em 0.01em;
    color: rgb(0, 11, 104); 
    a {
        text-decoration: none; /* Removes underline */
        color: inherit; /* Makes the link inherit the text color from its parent */
    }
}


#header-image {
    margin-right: 15px; /* Adds space between text and image */
    width: auto; /* Set desired width */
    height: 60px; /* Maintains aspect ratio */
}

#page-header-user {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.profile-pic {
    width: 35px; /* Set the desired width */
    height: 35px; /* Set the desired height */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image is cropped to fit within the circle */
    border: 2px solid #ddd; /* Optional: Add a border for better appearance */
}

#logout-btn {
    margin-left: 1em;
}


#page-content {
    padding-inline: 1em;
}
