body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#page-header-container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 2em;
    border-bottom: 2px solid rgba(206, 206, 206, 0.556);;
}

#header-title {
    display: flex;
    align-items: center;
    font-family: 'Hack', monospace;
    font-size: 20px; /* Adjust size as needed */
    font-weight: 900; /* Default weight */
    text-align: center;
    text-shadow: 0 0.01em, 0.01em 0, 0.01em 0.01em;
    color: rgb(0, 11, 104); 
    a {
        text-decoration: none; /* Removes underline */
        color: inherit; /* Makes the link inherit the text color from its parent */
    }
}


#header-image {
    margin-right: 15px; /* Adds space between text and image */
    width: auto; /* Set desired width */
    height: 100px; /* Maintains aspect ratio */
}





#page-header-user {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#logout-btn {
    margin-left: 1em;
}
